<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Nicolás Montesanto</title>
</head>
<body>
    <div class="container">
        <div class="imagen">
            <img src="/img/Steven_Universe.jpg" alt="Aquí va una foto">
        </div>        
        <div class="detail">
            <h1>Steven Universe</h1>
            <p><strong>Profesión: </strong>Crystal Gem</p>
            <p><strong>Planeta: </strong>Tierra</p>
            <p><strong>Reseña: </strong>Steven Quartz DeMayo Universe is the titular main protagonist of the Steven Universe franchise. He is the son of Greg Universe and Rose Quartz, the only known hybrid of a human and a Gem and the first Crystal Gem of human descent. </p>
            <a href="/"><button>Volver</button></a>
        </div>
    </div>
</body>
</body>
</html>